
.container {
  width: 60%;
  margin: auto ;
}

h1 {
  color: #fff;
  font-size: 50px;
}


hr {
  width: 50px;
}

a {
  text-decoration: none;
}

/*nav*/

nav ul {
  list-style-type: none;
}


nav ul {
  float: right;
  margin: 0;
}

nav ul li {
  float: right;
  line-height: 50px;
}

li a {
  display: block;
}


.logo {
  float: left;
  height: 50px;
  margin: 12.5px 0;
}

.clearfix {
  clear: both;
}


/*header*/

.head_line {
  text-align: center;
}

.header {
  background: #7ff;
  padding-bottom: 50px;
}

.head_line {
}


/*九宮格*/

h3 {
  margin: 45px 0 0;
}

.portfolio-nav ul {
  padding: 0px;
}

.container-product {
  text-align: center;
}

.container-product li {
  display: inline-block;
}

.col-4 {
  background-image: url(http://placehold.it/280x175);
  float: left;
  width: 280px;
  height: 175px;
  margin-bottom: 20px;
}
.col-4:not(:first-child){
  margin-left: 20px;
}

.product-graphic {

}

.row{
  width: 880px;
  height: 100%;
  margin: 0 auto 50px;
}

/*footer*/

footer {
  padding: 50px 0 30px;
  background: #ffd96e;
}

.foot-logo img {
  display: block;
  margin: 0 auto 10px;
}

footer div{
  width: 100%;
  margin: 0 auto;
}

.foot-nav li {
  display: inline-block;
  width: 19%;
}

.foot-nav ul {
  width: 40%;
  display: block;
  margin: auto;
}

footer p {
  text-align: center;  
}










