
.container {
  margin: 0 auto;
  max-width: 1000px;
}

.clearfix {
  clear: both;
}


.col-8 {
  float: left;
  width: 60%;
  margin-top: 40px;
  margin-right: 3%;
}

.col-4 {
  float: left;
  width: 32%;
  margin-top: 40px;
}

@media (max-width: 1000px) {
  .col-4 {
  margin: 0 auto 20px;
  width: 100%;
  }

  .col-8 {
  margin: 0 auto 20px;
  width: 100%;
  }

  .row {
    width: 80%;
    margin: 0 auto;
  }
}